section.userModal {
    display: block;
    background-color: $gray3;
    position: fixed;
    left: 2vw;
    right: 2vw;
    input {
        margin: 10%;
        height: 4em;
        width: 80%;
        @include verticalCenter;
        align-items: center;
        padding: 2%;
    }
    div.password {

        display: flex;
        flex-wrap: wrap;
        position: relative;
        
        button {
            position: absolute;
            top: 50%;
            left: 80%;
            transform: translateY(-50%);
        }
        ul {
            
        }
}
}