header {
    width: 80%;
    margin: auto;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
// BURGER-MENU
    .content {
        transition: 1s;
        }
        #side-bar {
            li {
                padding: 3% 0 3% 15%;
                border-radius: 0 25px 25px 0;
                background: $gray3;
                margin: 5% 0;
                transition: 1s ease;
                text-align: start;
                &:hover {
                    transform: scaleX(115%);
                    transition: 1s ease;
                    filter: brightness(120%)
                }
            }
        position: absolute;
        width: 20%;
        left: -210px;
        opacity: 0;
        transition: 0.5s ease-out;
        z-index: 4;
        }
        #side-bar.active {
            left: 0;
            opacity: 1
        }

        li {
        color: $black1;
        list-style: none;
        padding-left: 5px;
        font-size: 1.5em;
        }
        .active ~ .content {
        opacity: 0.3;
        }
// FIN BURGER-MENU

// BUTTONS
.header_btn-container{
    cursor: pointer;
        height: 50px;
        width: 50px;
        z-index: 5;
        display: flex;
        margin: 0;
        padding: 0;
#btn{
    margin: 18% 0 0 10%;
    padding: 0;
i{
        @include realisation_btn;
        &:hover {
            filter: brightness(120%);
        }
        
}}
.user_btn {
    margin: 0;
    padding: 0;
    @include realisation_btn;
    &:hover {
        filter: brightness(120%);
    }
}
}
//FIN BUTTONS

// INSCRIPTION/ LOGIN
    #user-modal-container {
        position: absolute;
        opacity: 0;
        transition: 1s ease-in-out;
    }
    #user-modal-container.active {
        top: 50%;
        transform: (translateY(-50%));
        position: absolute;
        width: 70%;
        opacity: 1;
        transition: 1s ease-in-out;
        z-index: 5;
    }
// FIN INSCRIPTION/ LOGIN

// LOGO NOUR-EDDE
.logo-container {
display: flex;
width: 30%;
justify-content: space-between;

    img.logo {
        width: 15%;
        height: auto;
    }}
// FIN LOGO NOUR-EDDE
}

