
@-webkit-keyframes noise-1 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: -6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: 2px;}
    }

    @keyframes noise-1 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: -6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: 2px;}
    }

    @keyframes noise-2 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: 6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: -2px;}
    }


    @keyframes noise {
    0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}  
    4.3% {opacity: 1; -webkit-transform: scaleY(1.7); transform: scaleY(1.7);}
    43% {opacity: 1; -webkit-transform: scaleX(1.5); transform: scaleX(1.5);}
    }

    @keyframes noise-3 {
    0%,3%,5%,42%,44%,100% {opacity: 1; -webkit-transform: scaleY(1); transform: scaleY(1);}
    3% {opacity: 1; -webkit-transform: scaleY(4); transform: scaleY(4);}
    43% {opacity: 1; -webkit-transform: scaleX(10) rotate(60deg); transform: scaleX(10) rotate(60deg);}
    }
