#home-body{
    @include verticalCenter();
    max-height: 90%;
    max-width: 90%;
    position: relative;
    img {
        width: 40%;
    }

    
    .targetContainer {
        position: absolute;
        z-index: 4;
        color: $color-1;
        display: flex;
        font-size: 2em;
    
    }
}