.home-Body{
    @include verticalCenter();
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    
    .targetContainer {
        color: $color-1;
        display: flex;
        font-size: 2em;
    
    }
}