/*

@font-face

font

colors*/
$color-1: rgb(181, 37, 40);
$color-2: rgba(200, 97, 98, 0.72);
$color-3: #282c34;
$white: rgb(243, 243, 243);

// mixin
@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin realisation_btn_Container {
    border: none;
    position: relative;
    z-index: 4;
    border-radius: 100%;
    top: -65px;
    width: 60px;
    height: 60px;
    background-color: rgba(245, 245, 245, 0.346);
}
@mixin realisation_btn {

    font-size: 3em;
    color: $color-1;
    &:hover {
        transform: scale(1.2);
    }
}

// generals
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    background-color: $white;
}
body {
    font-size: 1.4em;
    background-color: $white;
    margin: 0;
	padding: 0;
	line-height: 1.5;
}
h1 {
    @include verticalCenter()
}
