/*

@font-face

font

colors*/
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBody {
  background-size: 100vh;
  background-image: url("../../assets/img/bois.jpg");
  background-repeat: no-repeat;
}

body {
  background-color: rgb(181, 37, 40);
}

.error {
  text-align: center;
  width: 100%;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise-3 10s linear infinite;
  overflow: default;
}

.error:after {
  content: "error 404";
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  animation: noise-1 7s linear infinite;
}

body:before {
  content: "error 404";
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  animation: noise-2 3s linear infinite;
}
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}
@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}
@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    transform: scaleX(1.5);
  }
}
@keyframes noise-3 {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1);
  }
  3% {
    opacity: 1;
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    transform: scaleX(10) rotate(60deg);
  }
}
.blog-container {
  margin: 20% 5%;
}
.blog-container em {
  font-size: 1rem;
}
.blog-container p {
  font-size: 1.2rem;
}
.blog-container h1 {
  margin: auto;
  text-align: center;
}
.blog-container div > form {
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.blog-container div > form textarea, .blog-container div > form input {
  border: 2px solid rgb(181, 37, 40);
  border-radius: 5px;
  margin: 4%;
}
.blog-container div > form textarea {
  height: 9em;
  padding-top: 5%;
  padding: 5%;
}
.blog-container div > form input {
  height: 3em;
}
.blog-container div > form input:nth-child(1) {
  padding: 0 5%;
}
.blog-container div > form input[type=submit] {
  margin-left: auto;
  width: 50%;
  background-color: rgba(200, 97, 98, 0.72);
  color: rgb(84, 83, 83);
  cursor: pointer;
}
.blog-container div > form input[type=submit]:hover {
  filter: brightness(110%);
}
.blog-container ul li {
  margin: 5%;
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.realisations-container {
  margin-top: 30%;
  width: 100%;
}
.realisations-container .grid-image-container {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.realisations-container .grid-image-container .image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 10%;
}
.realisations-container .grid-image-container .image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(128, 128, 128, 0.19);
}
.realisations-container .grid-image-container .image .loupe-container {
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  top: -65px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.346);
}
.realisations-container .grid-image-container .image .loupe-container .loupe {
  font-size: 3em;
  color: rgb(181, 37, 40);
  rotate: 90deg;
}
.realisations-container .grid-image-container .image .loupe-container:hover {
  transform: scale(1.2);
}
.realisations-container .grid-image-container .image #image-content-container {
  top: -200px;
  opacity: 0;
  background-color: rgba(234, 234, 234, 0.657);
  transition: 1s ease-out;
  height: 10px;
  overflow: scroll;
  padding: 6%;
  position: relative;
}
.realisations-container .grid-image-container .image #image-content-container h2 {
  font-style: italic;
  display: flex;
  justify-content: end;
  margin-right: 3%;
}
.realisations-container .grid-image-container .image #image-content-container.active {
  top: -60px;
  opacity: 1;
  height: 200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.content {
  transition: 1s;
}

#side-bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: #5f5f5f;
  top: 0;
  left: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
}

.toggle-btn {
  position: absolute;
  top: 30px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn:hover {
  filter: brightness(120%);
}

.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: #5f5f5f;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}

li {
  color: #292929;
  list-style: none;
  cursor: pointer;
  padding-left: 5px;
  font-size: 1.5em;
}

li:hover {
  background: #292929;
  color: #fcfcfb;
}

#side-bar.active {
  left: 0;
}

.active span {
  position: absolute;
}

.active span:nth-child(1) {
  transform: rotate(45deg);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.active ~ .content {
  opacity: 0.3;
}

.targetContainer {
  color: rgb(181, 37, 40);
  height: 50vh;
  text-align: center;
  margin: 20% 5% 50% 50%;
  display: flex;
}
.targetContainer h3 {
  font-size: 6em;
}/*# sourceMappingURL=index.css.map */