@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: rgb(243, 243, 243);
}

body {
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

em {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

header {
  width: 80%;
  margin: auto;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content {
  transition: 1s;
}
header #side-bar {
  position: absolute;
  width: 20%;
  left: -210px;
  opacity: 0;
  transition: 0.5s ease-out;
  z-index: 4;
}
header #side-bar li {
  padding: 3% 0 3% 15%;
  border-radius: 0 25px 25px 0;
  background: rgba(138, 138, 138, 0.915);
  margin: 5% 0;
  transition: 1s ease;
  text-align: start;
}
header #side-bar li:hover {
  transform: scaleX(115%);
  transition: 1s ease;
  filter: brightness(120%);
}
header #side-bar.active {
  left: 0;
  opacity: 1;
}
header li {
  color: rgb(40, 44, 52);
  list-style: none;
  padding-left: 5px;
  font-size: 1.5em;
}
header .active ~ .content {
  opacity: 0.3;
}
header .header_btn-container {
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 5;
  display: flex;
  margin: 0;
  padding: 0;
}
header .header_btn-container #btn {
  margin: 18% 0 0 10%;
  padding: 0;
}
header .header_btn-container #btn i {
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.346);
  font-size: 3em;
  color: rgb(156, 26, 32);
  cursor: pointer;
}
header .header_btn-container #btn i:hover {
  transform: scale(1.2);
}
header .header_btn-container #btn i:hover {
  filter: brightness(120%);
}
header .header_btn-container .user_btn {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.346);
  font-size: 3em;
  color: rgb(156, 26, 32);
  cursor: pointer;
}
header .header_btn-container .user_btn:hover {
  transform: scale(1.2);
}
header .header_btn-container .user_btn:hover {
  filter: brightness(120%);
}
header #user-modal-container {
  position: absolute;
  opacity: 0;
  transition: 1s ease-in-out;
}
header #user-modal-container.active {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 70%;
  opacity: 1;
  transition: 1s ease-in-out;
  z-index: 5;
}
header .logo-container {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
header .logo-container img.logo {
  width: 15%;
  height: auto;
}
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}
@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}
@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    transform: scaleX(1.5);
  }
}
@keyframes noise-3 {
  0%, 3%, 5%, 42%, 44%, 100% {
    opacity: 1;
    transform: scaleY(1);
  }
  3% {
    opacity: 1;
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    transform: scaleX(10) rotate(60deg);
  }
}
section.userModal {
  display: block;
  background-color: rgba(138, 138, 138, 0.915);
  position: fixed;
  left: 2vw;
  right: 2vw;
}
section.userModal input {
  margin: 10%;
  height: 4em;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 2%;
}

#home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90%;
  max-width: 90%;
  position: relative;
}
#home-body img {
  width: 40%;
}
#home-body .targetContainer {
  position: absolute;
  top: 100%;
  z-index: 4;
  color: rgb(156, 26, 32);
  display: flex;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  width: 100%;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise-3 10s linear infinite;
  overflow: default;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error:before {
  content: "error 404";
  font-family: OCR-A;
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 20;
  left: 0;
  right: 35%;
  opacity: 0;
  color: rgb(156, 26, 32);
  animation: noise-2 5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error:after {
  content: "error 404";
  font-size: 100px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 10;
  right: 35%;
  opacity: 0;
  color: rgba(156, 26, 33, 0.68);
  animation: noise-1 7s linear infinite;
}

.blog-container {
  margin: 20% 5%;
}
.blog-container div > form {
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.blog-container div > form textarea, .blog-container div > form input {
  border: 2px solid rgb(156, 26, 32);
  border-radius: 5px;
  margin: 4%;
}
.blog-container div > form textarea {
  height: 9em;
  padding-top: 5%;
  padding: 5%;
}
.blog-container div > form input {
  height: 3em;
}
.blog-container div > form input:nth-child(1) {
  padding: 0 5%;
}
.blog-container div > form input[type=submit] {
  margin-left: auto;
  width: 50%;
  background-color: rgba(156, 26, 33, 0.68);
  color: rgb(84, 83, 83);
  cursor: pointer;
}
.blog-container div > form input[type=submit]:hover {
  filter: brightness(110%);
}
.blog-container ul li {
  margin: 5%;
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.blog-container ul li em {
  display: block;
  margin: 3% 0 0 0;
  text-align: right;
}
.blog-container ul li textarea {
  width: 100%;
  padding-top: 5%;
  padding: 5%;
  border: 1px solid rgb(156, 26, 32);
}
.blog-container ul .btn-container {
  display: flex;
  justify-content: flex-end;
}
.blog-container ul .btn-container .updateBtn-container, .blog-container ul .btn-container .okBtn-container, .blog-container ul .btn-container .trash-container {
  margin: 2%;
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: rgba(245, 245, 245, 0.346);
  font-size: 1.2em;
  color: rgb(156, 26, 32);
  cursor: pointer;
}

.realisations-container {
  margin-top: 20%;
  width: 100%;
}
.realisations-container .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}
.realisations-container .portrait {
  grid-row: span 2;
}
.realisations-container .gallery img {
  align-self: stretch;
  justify-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
  border: #00748D 3px solid;
}
.realisations-container .grid-image-container {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.realisations-container .grid-image-container .image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 10%;
}
.realisations-container .grid-image-container .image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(128, 128, 128, 0.19);
}
.realisations-container .grid-image-container .image .button-container {
  display: flex;
  justify-content: space-between;
}
.realisations-container .grid-image-container .image .button-container .loupe-container {
  left: 5px;
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.346);
  font-size: 3em;
  color: rgb(156, 26, 32);
  cursor: pointer;
  top: -65px;
}
.realisations-container .grid-image-container .image .button-container .loupe-container:hover {
  transform: scale(1.2);
}
.realisations-container .grid-image-container .image .button-container .loupe-container .loupe {
  rotate: 90deg;
}
.realisations-container .grid-image-container .image .button-container .heart-container {
  right: 5px;
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.346);
  font-size: 3em;
  color: rgb(156, 26, 32);
  cursor: pointer;
  top: -65px;
}
.realisations-container .grid-image-container .image .button-container .heart-container:hover {
  transform: scale(1.2);
}
.realisations-container .grid-image-container .image .button-container .trash-container, .realisations-container .grid-image-container .image .button-container .updateBtn-container {
  border: none;
  position: relative;
  z-index: 4;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.346);
  font-size: 3em;
  color: rgb(156, 26, 32);
  cursor: pointer;
  top: -65px;
}
.realisations-container .grid-image-container .image .button-container .trash-container:hover, .realisations-container .grid-image-container .image .button-container .updateBtn-container:hover {
  transform: scale(1.2);
}
.realisations-container .grid-image-container #image-content-container {
  top: -200px;
  opacity: 0;
  background-color: rgba(234, 234, 234, 0.657);
  transition: 1s ease-out;
  height: 10px;
  overflow: scroll;
  padding: 6%;
  position: relative;
}
.realisations-container .grid-image-container #image-content-container h2 {
  font-style: italic;
  display: flex;
  justify-content: end;
  margin-right: 3%;
}
.realisations-container .grid-image-container #image-content-container.active {
  top: -60px;
  opacity: 1;
  height: 200px;
}

main.about_main-container {
  margin: 4% auto;
  background-color: rgba(156, 26, 33, 0.68);
  width: 60%;
  padding: 4%;
  border-radius: 20px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.418);
}
main.about_main-container p {
  text-align: center;
  margin: 5%;
}

.about_bg-container {
  height: 30%;
  position: relative;
  bottom: 2px;
}
.about_bg-container p {
  margin-left: 5%;
  bottom: 0;
  background-color: whitesmoke;
  position: absolute;
}
.about_bg-container p a {
  text-decoration: none;
  color: rgb(95, 95, 95);
}

.contact-container {
  margin: 20% 5%;
}/*# sourceMappingURL=index.css.map */